.mybtn {
    min-height: 50px;
}

.mybtn:disabled {
    opacity: 1;
}

.myimg {
    display: block;
    margin: auto;
}

img[data-role], img.profile {
    max-height: 60px;
}

table {
    margin: 10px;
    border-collapse: collapse;
    width: 98%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div.inputs-joueur {
    border: 1px solid lightgray;
    border-radius: 1%;
    padding: 15px;
    margin: 10px;
}
